.cart {
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: auto;
  z-index: 10;
}

.back_menu {
  cursor: pointer;
  min-width: 20vw;
  display: flex;
  position: relative;
  left: -22vw;
  top: -3vh;
}

.cancel {
  position: relative;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3A3A3A;
}

.cancel:hover {
  cursor: pointer;
  transition-duration: 0.2s;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: rgb(46, 46, 46);
}

.cart_items {
  width: 80%;
  margin: 0 auto;
  padding: 40px 60px;
  background-color: #3A3A3A;
  border: 1px solid #3A3A3A;
  border-radius: 10px;

  .cart_item_controller {
    position: absolute;
    right: 10vw;
    gap: 7%;
    display: flex;
    background: #F4F4F4;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #3A3A3A;
    display: flex;
    justify-content: center;
    min-width: 80px;


    .cart_item_quant {
      margin-right: 4%;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      color: #000000;
    }

    .cart_item_minus {
      margin-top: -2px;
    }

    button {
      cursor: pointer;
      min-width: 24%;
      border: none;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 32px;
      color: #3A3A3A;
      display: flex;
      justify-content: center;
      margin: auto 0;
    }
  }
}
.menu_item_numbers {
  right: 2vw;
  position: relative;
  color: azure;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 4rem; /* Заменяем justify-content: space-around на gap */

  .cart_item_weight {
    position: absolute;
    right: 16vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #F4F4F4;
  }
  

}
.menu_item_cancel {
  cursor: pointer;
  top: -7px;
}
.cart_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 40%;
}
@media screen and (min-width: 3000px) {
  .cart_item {
    gap: 61vw;
  }
  .menu_item_cancel {
    min-width: 100%;
  }
}
@media screen and (max-width: 3000px) {
  .cart_item {
    gap: 60vw;
  }
}
@media screen and (max-width: 2000px) {
  .cart_item {
    gap: 50vw;
  }
}
@media screen and (max-width: 1600px) {
  .cart_item {
    gap: 40vw;
  }
  .menu_item_numbers {
    .cart_item_weight {
      right: 20vw;
    }
    
  
  }
}
@media screen and (max-width: 1200px) {
  .cart_item {
    gap: 20vw;
  }
}
.cart_item_title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #F4F4F4;
}

.cart_item_subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #F4F4F4;
}
.cart_item_cost {
  position: absolute;
  right: 3vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #F4F4F4;
}

.cart_line {
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 99%;
  background-color: #9ECF92;
  border: 3px solid #9ECF92;
}

.cart_summ_text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #9ECF92;
}

.cart_summ_price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: #F4F4F4;
}
